html {
  background-color: #ed925a;
}

.navbar {
  background-image: linear-gradient(
    #dc5f20f0,
    rgba(255, 255, 0, 0.849),
    #dc5f20f0
  );
  filter: drop-shadow(0 0 0.25rem black);
}

.indexVideo {
  display: flex;
  /* background-color: #ed925a; */
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  border-radius: 2px;
  border-color: black;
  align-items: center;
  justify-content: space-between;
}

.home {
  background-color: #ed925a;
  padding-bottom: 100px;
}

.container {
  position: relative;
  text-align: center;
  color: ghostwhite;
}

.heading1 {
  color: ghostwhite;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.elephantBG {
  /* border: 1px solid black; */
  width: 100%;
  filter: blur(0.7px);
  border-radius: 10%;
  filter: drop-shadow(0 0 0.25rem black);
}

.insideImage {
  color: ghostwhite;
  filter: drop-shadow(0 0 0.25rem black);
}

.IEButton {
  color: yellow;
}

.IEButton:hover {
  font-size: larger;
  color: yellow;
}

.image {
  /* max-width: 100%;
  height: auto;
  text-align: center; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  border-radius: 2%;
}

.background {
  background-color: #ed925a;
}

.center {
  text-align: center;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.shrink img {
  transition: 1s ease;
}

.shrink img:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(0.95);
  transition: 1s ease;
}

.i-ella {
  display: flex;
  width: 5%;
  height: 5;
}

.carousel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 50%;
}

.img2 {
  border-radius: 2%;
  border: 2px solid black;
}
